

.btn-list{
    background-color: #fff;
    margin-top: 10px;
    text-align: right;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(204,204,204,1);
    box-shadow: 3px 3px 5px 0px rgba(204,204,204,1);
}
.btn-list .btn{
    border:none;
    color:#000; 
    font-weight:bold; 
    padding: 18px 15px;
    font-size: 16px; 
}
#SubmitBtn {
    color:#00ffcc;  
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none !important;
}

/* You can add global styles to this file, and also import other style files */
form{
    width:80%;
}
form .dropdown-btn {
    background-color: #fff;
}
form .checkbox{
    margin-top:10px;
}

li.multiselect-item-checkbox {
    border-bottom: 1px solid #ccc;
    padding:8px 10px !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
    background: #fff !important;
    color: black !important;
    border: 1px solid #fff !important;
}

.multiselect-dropdown .dropdown-btn .selected-item a {
    display: none !important;
}
.multiselect-dropdown .dropdown-btn .selected-item:hover a {
    color: #000 !important;
    display: inline !important;
}

.multiselect-item-checkbox input[type=checkbox] + div:before, 
.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
    color:#000 !important;
    border: 2px solid #000 !important;
}
.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
    background: #000 !important;
} 
.multiselect-item-checkbox input[type=checkbox]:checked + div {
    color:#007bff !important;
    font-weight: bold;
}