<section>
    <div class="row">
      <div class="col-md-6">
        <div style="margin-bottom: 20px;">
            <div class="row">
              
              <div class="col-md-6">
                <h5>Option</h5>                
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [checked]="singleSelection" (change)="toogleSingleSelection()"> Enable Single Selection
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [checked]="showFilter" (change)="toogleShowFilter()"> Show Search Filter
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <h5>Dropdown Data</h5>
                <div class="radio">
                  <label>
                     <input type="radio" name="dataRadio" [checked]="dropdownData == colors" (change)="changeDropdownData(colors)"/> Set colors data
                  </label>
                </div>                
                <div class="radio">
                  <label>
                     <input type="radio" name="dataRadio" [checked]="dropdownData == components" (change)="changeDropdownData(components)"/> Set components data
                  </label>
                </div>            
              </div>
              <div class="col-md-12">
                <h5>Select</h5>
                <form [formGroup]="myForm">
                  
                  <ng-multiselect-dropdown 
                    name="color" 
                    [placeholder]="dropdownData == colors ? 'Colors' : 'Components'" 
                    [data]="dropdownData" 
                    formControlName="color" 
                    [settings]="dropdownSettings" 
                    (onDropDownClose)="onDropDownClose()" 
                    (onSelect)="onItemSelect($event)" 
                    (onSelectAll)="onSelectAll($event)">
                  </ng-multiselect-dropdown>  
                  
                  <div class="btn-list" *ngIf="singleSelection">
                      <input type="button" (click)="handleReset()" id="ResetBtn" class="btn" value="Reset">
                  </div>
                  <div class="btn-list" *ngIf="!singleSelection">
                    <input type="button" (click)="handleReset()" id="ClearBtn" class="btn" value="Clear">
                    <input type="button" (click)="handleSubmit()" id="SubmitBtn" class="btn" value="Submit">
                  </div>
                </form>
                <p></p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
